/* Adds style for content heading */
/* Style for "Catalogue" heading only */
.header_wrap .heading1 {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  background-image: url(../images/vector8.svg);
  background-repeat: no-repeat;
  background-size: 185px 45px;
  background-position: bottom 5% right 0;
}

/* Style for 'Contact' and 'Sign Up' heading */
.header_wrap .heading2,
.header_wrap .heading3 {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  background-image: url(../images/vector8.svg);
  background-repeat: no-repeat;
  background-size: 185px 45px;
  background-position: bottom 5% right 70px;
}

/* CONTACT PAGE */
.hearfromyou {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5rem;
  gap: 2rem;
}

/* Adds space between contact and space */
.contacttxt h3 {
  padding-top: 2rem;
}

/* Adding font-weight to subheading */
.contacttxt h3,
.map h3,
.hearfromyou .category {
  font-weight: 600;
}

/* Adds underline to email text */
.contacttxt p a {
  color: black;
  text-decoration: underline;
}

.map h3 {
  font-size: 2rem;
}

.map {
  width: 100%;
}

.map iframe {
  width: 100%;
  height: 50vh;
}

/* STYLE FOR SIGN-UP FORM */
.sign-up {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  place-items: center;
  padding: 2rem 0;
}

/* Minimizing gap between label and input */
.sign-up label {
  margin-bottom: -0.8rem;
}

.sign-up form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: 0 auto;
}

/* Adding line divider below form */
.sign-up form:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 1rem 0;
}

.sign-up input {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  padding: 0.5rem;
  border: 1px solid black;
  width: 95%;
  border-radius: 10px;
}

input:focus {
  background-color: #dff4fb;
}

/* To exclude checkbox from having 95% input width */
#terms {
  width: fit-content;
}

.terms label a {
  color: black;
  text-decoration: underline;
  width: 170px;
  /* To limit the width of the link */
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.2s ease-out;
}

.sign-up button {
  color: white;
  font: 1rem 'Poppins', sans-serif;
  background: black;
  padding: 0.8rem;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

/* HOVER STATES */
.terms label a:hover {
  font-weight: 600;
}

.sign-up button:hover {
  background-color: #EBD96B;
  border: none;
  color: black;
}

/* Styling button and links when pressed */
.sign-up button:active,
.extlink a:active {
  transform: scale(0.8);
}

/* Styling the external link - sign-up */
.extlink {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2rem;
  margin-top: -4rem;
}

.extlink h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

/* Styling the link text */
.extlink i {
  padding-right: 0.5rem;
}

/* Styling as button */
.extlink a {
  display: flex;
  color: black;
  font-weight:600;
  font-size: 1.3rem;
  border-radius: 10px;
  background: #ebd96b;
  width: 16rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-out;
}

/* Setting gap for external links */
.extlink ul li {
  margin: 1rem 0;
}

/* HOVER STATE FOR EXT LINK */
.extlink a:hover {
  background-color: #000000;
  color: #EBD96B;
}


/* Style for larger screens */
@media screen and (min-width:1024px) {

  /* Positioning SVG for 'Contact' and 'Sign Up' heading */
  .header_wrap .heading2,
  .header_wrap .heading3 {
    background-position: bottom 5% right 10px;
  }

  /* CONTACT US PAGE */
  .hearfromyou {
    flex-direction: row;
    justify-content: center;
    padding:3rem;
  }

  /* IFRAME MAP for Larger screens */
  .map {
    border-left: 1px solid #000000;
    padding-left: 1rem;
    width:40%;
  }

  .map h3{
    padding-bottom: 1rem;
  }

  /* SIGN UP PAGE */
  .sign-up {
    flex-direction: row;
    justify-content: center;
    padding: 3rem;
  }

  /* Removes margin from form to lessen gap */
  .sign-up form {
    margin: 0;
    border-right: 1px solid #000000;
    padding-right: 6rem;
  }

  /* Removes border bottom from form */
  .sign-up form:after {
    display: none;
  }
}


